<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    <title>Django Level Two</title>
</head>
<body>
    <h1>Welcome to Django Level Two</h1><br>
    <h2>Here are your records</h2>
    <div class="django2">
        {% if access_records %}

        <table>
            <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
            </thead>
            {% for acc in access_records %}
            <tr>
                <td>{{acc.name}} </td>
                <td>{{acc.date}} </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}

        <p>No records found</p>
        {% endif %}
    </div>
</body>
</html>